.card {
    width: 265px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    position: relative;
}

.label {
    color: rgb(199,202,204);
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.card-header {
    text-align: center;
    border-bottom: 1px solid transparent;
    background-color: white;
}


.card-body p {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 12px; 
}

.tra{
    opacity: 0.3;
}

.icon {
    margin-right: 10px;
    width: 10px;  
    height: 10px;  
}

.icon.cross {
    width: 7px;  
    height: 7px;
    opacity: 0.5;  
}

.button {
    width: 100%;
    border-radius: 20px;
    background-color: rgb(0,122,255);
    color: #ffffff;
    font-size: 9px;
    padding: 10px;
    border: none;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
h1{
    font-size: 28px;
}


.button1 {
    width: 100%;
    border-radius: 20px;
    background-color: rgb(75,162,255);
    color: white;
    font-size: 9px;
    font-weight: bold;
    padding: 10px;
    border: none;
    text-align: center;
    margin-top: 10px;
}